<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Customer Projects</li>
  </ol>
</nav>
<h1 style="font-family:Open Sans, sans-serif">Customer Projects</h1>
<br>
<% @articles.in_groups_of(4, false).each do |group| %>
  <div style= "float:left;">
    <% group.each do |article| %>
    <div>


        <div style="display:inline-block;margin: 20px;padding: 30px;border-style: solid; border-width: 1px;background-color: #E8E8E8">
<%= image_tag("fix2.jpg", :alt => "towing part", id: "towing part") %>
        <h6>Project Name: <%= article.title %></h6>
        <h6><%= link_to 'READ ARTICLE', article %></h6>

        </div>
</div>
<%# link_to 'Project Details', article %>
<br>

      </div>
    <% end %>
  </div>
<% end %>
<br>
<h5 style= "text-align:center"><%= link_to 'Submit Your Own Project', new_article_path, {:style=>'font:bold 20px sans-serif;'} %></h5>



<% if false %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %><% end %>

<%= render 'layouts/footer' %>
