<%= render 'layouts/header' %>
<div style = "padding: 20px">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Customer Projects</li>
  </ol>
</nav>
<h1 style="font-family:Open Sans, sans-serif">Customer Projects</h1>
<br>
<% @articles.in_groups_of(4, false).each do |group| %>
  <div style= "float:left;">
    <% group.each do |article| %>
    <div>


        <div style="display:inline-block;margin: 20px;padding: 30px;border-style: solid; border-width: 1px;background-color: #E8E8E8">
<%= image_tag("fix2.jpg", :alt => "towing part", id: "towing part") %>
        <h6>Project Name: <%= article.title %></h6>
        <h6><%= link_to 'READ ARTICLE', article %></h6>

        </div>
</div>
<%# link_to 'Project Details', article %>
<br>

      </div>
    <% end %>
  </div>
<% end %>
<br>
<h5 style= "text-align:center"><%= link_to 'Submit Your Own Project', new_article_path, {:style=>'font:bold 20px sans-serif;'} %></h5>
</div>


<%= render 'layouts/footer' %>
