
<h1> Login </h1>
<%= form_for(:logins, local: true) do |form| %>
<br>
<%= link_to 'Need an account? Click to create an account', new_customer_path(@customer) %>
<br>
<br>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
<div class="field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

<div class="field">
    <%= form.button "Login" %>
  </div>
<% end %>

<%= link_to 'Back', root_path %>
