<%= render 'layouts/header' %>
<div style = "padding: 20px">
<h1> Login </h1>
<a href = "/customers/new"> Click here to sign-up</a>
<p id="notice"><%= notice %></p>
<%= form_for(:logins, local: true) do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
<div class="field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

<div class="field">
    <%= form.button "Login" %>
  </div>
<% end %>

<%= link_to 'Back', root_path %>
<div style = "padding: 20px">
<%= render 'layouts/footer' %>
