<%= render 'layouts/header' %>
<br>
<h3>Search Results</h3>



<div class='row' style = "margin-bottom: 30px">
<% @results.each do |result| %>
<div class='col-md-3' style = "border-style:solid; border-width: 1px; padding: 20px;">
  <%= image_tag("towing.jpg", :alt => "towing part", id: "towing_part") %>
  <div>MSRP: <%= number_to_currency(result.MSRP) %></div>
<div>Your Price: <%= number_to_currency(result.buyPrice) %></div>
<h6><%= link_to 'MORE INFO', result%></h6>
<br>
<h5 style="background-color: #4f7942;color:white;padding: 5px;"><%= result.productName.upcase %></h5>
<br>
 <%= form_for @orderdetail do |f| %>
<%= f.hidden_field :productName, value: result.productName %>
   <%= f.hidden_field :productCode, value: result.productCode %>
   <p>Quantity: <%= f.number_field :quantityOrdered, placeholder: "1", :value => @defvalue %></p>
   <%= f.hidden_field :priceEach, value: result.buyPrice %>
   <%= f.submit "Add to cart" %>
 <% end %>
 </div>
<% end %>
</div>


<%= render 'layouts/footer' %>
