<%= form_with(model: contact, local: true) do |form| %>


  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :fname %>
  </div>

  <div class="field">
    <%= form.label :email_address %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :your_message %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", {:style=>'background-color:#4F7942;color:white;width:100px;', :class => "btn"} %>
  </div>
<% end %>
